@model PodilskyNVK.Models.IndexViewModel
@{
    ViewBag.Title = "Керування";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Зміна налаштувань облікового запису</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Зміна пароля", "ChangePassword", new { }, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Створити", "SetPassword", new { }, new { @class = "btn btn-default" })
            }
        </dd>
        <dt>Зовнішні імена входу:</dt>
        <dd>
            @Model.Logins.Count
            @Html.ActionLink("Керування", "ManageLogins", new { }, new { @class = "btn btn-default" })
        </dd>
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Director"))
        {
            <dt>Керування контентом:</dt>
            <dd>
                @Html.ActionLink("Додати пост", "AddPost", "Home", new { }, new { @class = "btn btn-default" })
                @if (this.User.IsInRole("Director"))
                {
                    @Html.ActionLink("Додати робітника", "AddEmployee", "AboutSchool", new { }, new { @class = "btn btn-default" })
                }
            </dd>
            if (this.User.IsInRole("Director"))
            {
                <dt>Керування адміністраторами сайту:</dt>
                <dd>
                    @Html.ActionLink("Додати адміністратора", "AddAdministrator", "Account", new { }, new { @class = "btn btn-default" })
                </dd>
            }
         }
        </dl>
</div>
