@model PodilskyNVK.Models.Post

@{
    ViewBag.Title = "EditPost";
    int i = 0;
    int k = 0;
}

<h2>Редагувати пост</h2>


@using (Html.BeginForm("EditPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (!Model.Themes.Any(t => t.Name == "Історія школи"))
    {
        <div id="themes-block">
            @for (i = 0; i < ViewBag.Themes.Count; ++i)
            {
                <div class="form-group" name ="theme">

                    @Html.Label("Тема " + (i + 1), htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("selectedThemes[" + i + "]", ViewBag.Themes[i] as SelectList, new { id = "theme", @class = "form-control" })
                    </div>
                </div>
            }
        </div>
        <p style="margin-left:250px;"><a class="addLink">Додати тему</a></p>
        <p style="margin-left:250px;"><a class="delLink">Видалити тему</a></p>
    }

    <div class="form-group">
        @Html.Label("Додати фото", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="custom-input">
                <input id="inputPhotos" type="file" accept="image/jpeg" name="Images" title="Додати фото" class="form-control-file" multiple />
                <img style="width: 30px;height: 30px;" src="~/Content/AddPhoto.png" />
            </label>

        </div>
    </div>

    <div class="form-group">
        @Html.Label("Видалити фото", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" id="photos">
            @foreach (var photo in Model.Photos)
            {
                @Html.Raw("<img id=" + photo.Id + " onclick='removeImg(this)'  class='edit-image' src=\"data:image/jpeg;base64,"
          + Convert.ToBase64String(photo.Image) + "\" />")
                k++;
            }

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10" id="deleted">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10" id="added">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/AddEditScripts.js")
<script>
   var index = @i - 1;
        $('.addLink').click(function () {
            index++;
            var el = document.getElementById("theme");
            var copy = el.cloneNode(true);
            copy.setAttribute("name", "selectedThemes[" + index + "]");
            var container = document.createElement("div");
            container.appendChild(copy);
            var addedHTML = " <div class='form-group'  name='theme'>";
            addedHTML += "<label class='control-label col-md-2'>Тема " + (index + 1) + "</label>";
            addedHTML += "<div class='col-md-10'>";
            addedHTML += container.innerHTML;
            addedHTML += "</div></div>"
            $('#themes-block').append(addedHTML);
        })

        $('.delLink').click(function () {
            var themes = document.getElementsByName("theme");
            themes.item(index).remove();
            index--;
        })

    
</script>
}
